{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "plugin:react-hooks/recommended"
  ],
  "env": {
    "jest/globals": true,
    "cypress/globals": true
  },
  "plugins": ["jest", "cypress", "flowtype"],
  "globals": {
    "document": true,
    "window": true,
    "IS_MOCKED": true
  },
  "rules": {
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "react/jsx-props-no-spreading": 0
  }
}
